.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-content {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.logo {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
}

.registration-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.registration-form {
  color: #fff;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: url("https://cdn.psdrepo.com/images/2x/b12de512-e644-4096-a284-8fee1cc38d39.jpg");
}

.registration-input {
  margin-bottom: 20px;
}

.registration-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.registration-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registration-button:hover {
  background-color: #333;
}

.registration-login {
  margin-top: 20px;
}
