body {
  background-image: url("https://wallpaperaccess.com/full/2314950.jpg");
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-content {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.signin-logo {
  width: 150px;
  margin-bottom: 20px;
  margin-left: 30%;
}

.signin-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.signin-form {
  color: #ccc;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: url("https://media.istockphoto.com/vectors/abstract-form-background-vector-id1160194662?k=6&m=1160194662&s=170667a&w=0&h=GRpZOOskXNOKqAItqLt3m1p1F-qPVIGlfpO187Myhoc=");
}

.signin-input {
  margin-bottom: 20px;
}

.signin-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.signin-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signin-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #0056b3;
}

.register-button {
  margin-top: 20px;
  cursor: pointer;
}
